
.DS_Store
*.pyc
Experimental/cloudVision/GCV_login.json
Experimental/cloudVision/GCV_login_2.json
Experimental/MySQLDB/Login_settings.py
Prototype/Login_Settings.py
Prototype\Twitter_Bot\__pycache__\Bot.cpython-36.pyc
Prototype\Markov_Object\__pycache__\Markov_Chain.cpython-36.pyc
Prototype\Markov_Object\__pycache__\__init__.cpython-36.pyc
*.pyc
.idea
Prototype\cloudVision\GCV_login_2.json
